<div class="row mt-3" *ngIf="data$">
  <div class="col">
    <div class="card">
      <ng-container *ngIf="data$ | async as response">
        <div class="card-header bg-white" *ngIf="response.data">
          <h4 class="mt-2">Home Page</h4>
        </div>

        <div class="card-body">
          <div class="row my-n3">
            <ng-template [ngIf]="response.data">
              <div
                class="col-12 col-sm-6 col-md-4 col-lg-3 p-2"
                *ngFor="let category of response.data.getCategoryList.items"
              >
                <category-tile [category]="category"></category-tile>
              </div>
            </ng-template>
            <ng-template [ngIf]="!response.loading && !response.data">
              <div class="col">
                <h4 class="text-center">Not Found</h4>
              </div>
            </ng-template>
            <ng-template [ngIf]="response.error">
              <div class="col">
                <h4 class="text-center">Error</h4>
              </div>
            </ng-template>
            <ng-template [ngIf]="response.loading && !response.error">
              <div class="col">
                <h4 class="text-center">Loading...</h4>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
